
body {
    font-family: Quicksand, sans-serif;
    background-color: #ffffff !important;
    color: #000000 !important;
    background-image: url("http://dianaphan.github.io/images/image1-4.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 75px !important;
    text-shadow: 2px 2px #000000;
}
h2 {
    font-size: 50px !important;
}
iframe {
    border: transparent !important;
}
#designby {
    text-align: right;
    margin: 0;
}
#diana{
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
    color: #ffffff;
    display: table-cell;
}
.container{
    padding: 50px 120px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.navbar {
      font-family: Quicksand, sans-serif;
      margin-bottom: 0px;
      background-color: #ffffff !important;
      border-color: transparent;
      border: 0px !important;
      font-size: 15px !important;
      letter-spacing: 4px;
      opacity: 0.8;
      text-align: center;
  }
.navbar li a { 
      color: #000000 !important;
  }
.navbar-nav li a:hover {
      color: #000000 !important;
  }
.navbar-nav li a:active {
      color: #000000 !important;
  }
#home, #travel, #blog {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}
#about {
    height: 100%;
    width: 100%;
    display: table;
    text-align: left;
}
#aboutme, #myblog {
    background-color: #ffffff;
    opacity: 0.95;
    margin: 5% auto;
    width: 80%;
    vertical-align: middle;
    padding: 5%;
}
#travelpix {
    overflow: hidden;
    background-color: #ffffff;
    opacity: 0.95;
    margin: 5% auto;
    width: 80%;
    height: 80%;
    padding: 5%;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
#mycarousel {
    width: 90%;
    margin: 0 auto;
}
#honey {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media (max-width: 767px) {
    #mainnav {
        background-color: #ffffff !important;   
        opacity: 0.8;
    }
    #socialnav li {
        display: inline-block !important;
        float: inherit;
    }
    #mininav li {
        display: inline-block !important;
        float: inherit;
    }
    h1 {
    font-size: 80%;
    text-shadow: 2px 2px #000000;
}
}
