
body {
    font-family: Quicksand, sans-serif;
    background-color: #000000 !important;
    color: #ffffff !important;
    background: -webkit-linear-gradient(#808080, #000000, #808080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#808080, #000000, #808080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#808080, #000000, #808080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#808080, #000000, #808080); /* Standard syntax (must be last) */
}
}
h1 {
    font-size: 75px !important;
    text-shadow: 2px 2px #000000;
}
h2 {
    font-size: 50px !important;
}
h3 {
    font-size: 30px !important;
}
#diana{
    vertical-align: middle;
    text-align: center;
}
.container{
    padding: 50px 120px;
    height: 100%;
    width: 100%;
}
a:link, a:hover, a:active, a:visited { 
      color: #ffffff !important;
  }
a.resume:link, a.resume:hover, a.resume:active, a.resume:visited { 
      color: #ff99e6 !important;
  }

