
body {
    font-family: Quicksand, sans-serif;
    background-color: #000000 !important;
    color: #ffffff !important;
}
h1 {
    font-size: 75px !important;
    text-shadow: 2px 2px #000000;
}
h2 {
    font-size: 50px !important;
}
h3 {
    font-size: 30px !important;
}
#diana{
    vertical-align: middle;
    text-align: center;
}
.container{
    padding: 50px 120px;
    height: 100%;
    width: 100%;
}
.navbar {
      font-family: Quicksand, sans-serif;
      margin-bottom: 0px;
      background-color: #000000 !important;
      border-color: transparent;
      border: 0px !important;
      font-size: 15px !important;
      letter-spacing: 4px;
      opacity: 0.8;
      text-align: center;
  }
li a, li a:hover, li a:active { 
      color: #ffffff !important;
  }
.navbar-nav li a:hover {
      color: #ffffff !important;
  }
.navbar-nav li a:active {
      color: #ffffff !important;
  }
#about, #blog, #photography {
    background-color: #000000;
    opacity: 0.8;
    width: 80%;
    height: 100%;
    margin: auto;
}
