  body {
      font: 400 15px Montserrat, sans-serif;
      line-height: 1.5;
      color: #000000;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.5;
      color: #303030;
      font-weight: 300;
      margin-bottom: 30px;
  } 
  .panel-heading {
      height: 125px;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      font-size: 18px;
  }
  .panel-body {
      height: 250px;
      line-height: 200px;
      display: block;
      overflow: hidden; 
  }
  .panel-body img {
      display: block;
      margin: auto;
      width: 100%;
 
}
.w3-container {
      vertical-align: middle;
      height: 50px;
}
  .jumbotron {
      color: #ffffff !important;
      padding: 100px 25px;
      font-family: Montserrat;
      height: 300px;
      width: 100%;
      text-align: center;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
      background-image: url(../images/20161112_133500.jpg);
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 60px;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #ffffff !important;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 2 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #000000 !important;
  }
  .navbar .navbar-brand {
      text-decoration: none;
      font-size: 18px !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  a:hover {
      color: #f4511e !important;
      font-size: 12px;
  }
  a:link, a:visited, a:active {
      color: #000000;
      font-size: 12px;
  }
  #moreinfo, #moreinfo2, #moreinfo3 {
      text-align: center;
  }
  #footer a:link, a:visited, a:hover, a:active{
      font-size: 12px;
      color: #000000;
      text-decoration: none;
  }
  #footer{
      font-size: 10px;
      margin-bottom: 20px;
      color: #000000;
      font-family: Quicksand;
      letter-spacing: 2px;
      background-color: #f6f6f6;
  }
  .socialicon {
      float: right;
      font-size: 30px;
      padding-right: 10px;
  }
  #footerlinks, #footerlinks a {
      text-align: left;
      font-size: 15px !important;
      float: left;
      margin: 0px;
  }
  #designedby {
      text-align: right;
      float: right;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
